asgiref==3.11.0
cfgv==3.5.0
distlib==0.4.0
Django==5.2.8
filelock==3.20.0
identify==2.6.15
nodeenv==1.9.1
pillow==12.0.0
platformdirs==4.5.0
pre_commit==4.5.0
python-dotenv==1.2.1
PyYAML==6.0.3
sqlparse==0.5.4
virtualenv==20.35.4
