{% extends "dashboard/sidebar.html" %}

{% block dashboard_content %}
    <div class="col-md-9">
        <h1>Welcome to Categories Dashboard</h1>
        <p>This is your categories management section where you can view, add, edit, and delete categories.</p>
        <div>
            <a href="{% url 'dashboard_categories_add' %}" class="btn btn-primary">Add New Category</a>
        </div>
        <div>
            <table class="table">
                <thead>
                    <tr>
                        <th scope="col">ID</th>
                        <th scope="col">Name</th>
                        <th scope="col">Created At</th>
                        <th scope="col">Updated At</th>
                        <th scope="col">Actions</th>
                    </tr>
                </thead>
                <tbody>
                    {% if categories %}
                        {% for category in categories %}
                            <tr>
                                <th scope="row">{{ category.id }}</th>
                                <td>{{ category.name }}</td>
                                <td>{{ category.created_at }}</td>
                                <td>{{ category.updated_at }}</td>
                                <td>
                                    <a href="#" class="btn btn-sm btn-primary">Edit</a>
                                    <a href="#" class="btn btn-sm btn-danger">Delete</a>
                                </td>
                            </tr>
                        {% endfor %}
                    {% else %}
                        <tr>
                            <td colspan="5" class="text-center">No categories found.</td>
                        </tr>
                    {% endif %}          
                </tbody>
                </table>
         </div>
    </div>
{% endblock %}